# Copy this to your my.cnf file. Please change <directory> to the corresponding 
# directory where the files were copied.
[client]
ssl-ca=<directory>/ca-cert.pem
ssl-cert=<directory>/client-cert.pem
ssl-key=<directory>/client-key.pem

[mysqld]
#ssl-ca=<directory>/ca-cert.pem
/Users/enigua/Library/Application Support/MySQL/Workbench/certificates/4024E4B6-1846-4B14-8F69-9B69406E67E8/ca-cert.pem
#ssl-cert=<directory>/server-cert.pem
Users/enigua/Library/Application Support/MySQL/Workbench/certificates/4024E4B6-1846-4B14-8F69-9B69406E67E8/server-cert.pem
#ssl-key=<directory>/server-key.pem
Users/enigua/Library/Application Support/MySQL/Workbench/certificates/4024E4B6-1846-4B14-8F69-9B69406E67E8/server-key.pem        
